main {
  flex-direction: column;
  height: 100vh;
  width: clamp(356px, 65vw, 520px);
  background-color: var(--color-white);
  border: 0;
  margin: 0 auto;
  background-color: #add8e6;
}

@media (min-width: 430px) {
  main {
    border-radius: 15px;
  }
}
